body {
    font-family: "Source Code Pro";
    color: white;
}

h1 {
    font-size: 50px;
    margin: 0;
}

a {
    color: inherit;
}

.center {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    border-radius: 25px 0px 25px 25px;
}